.btn {
    display: inline-block;
    padding:var(--spacing-2) var(--spacing-3);
    border:none;
    border-radius:var(--radius-sm);
    cursor: pointer;
    font-size: var(--font-md);
    transition: background-color 0.5s ease-in-out;
    }

.btn-primary{
    background: var(--color-primary);
    color:white;
}    

.btn-secondary{
    background-color:var(--color-secondary);
    color:white;
}

.btn:hover{
    opacity:0.9;
}