.card{
    border:1px solid #ccc;
    padding:var(--spacing-3);
    border-radius:8px;
    background:white;
}

.card-header{
    font-weight:bold;
    margin-bottom: var(--spacing-2);
}

.card-body{
    font-size: var(--font-md);
}

.card-footer{
    margin-top:var(--spacing-2);
    text-align: right;
}