:root{
    --spacing-0:0.0625rem;
    --spacing-1:0.25rem;
    --spacing-2:0.5rem;
    --spacing-3:1rem;
    --spacing-4:2rem;

    --font-sm:0.875rem;
    --font-md:1rem;
    --font-lg:1.5rem;
    
    --color-primary:#007bff;
    --color-secondary:#6c757d;
    --color-red:#f11717;
    --color-dark:#212529;
    --color-light:#f8f9fa;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-bar:#febd68;
    
    --radius-vs:0.125rem;
    --radius-sm: 0.25rem;
    --radius-md:0.5rem;
    --radius-lg:1rem;
}